Repository personalml/example: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-vulnerabilities, run-tests

check-vulnerabilities:
  name: Safety
  entry: safety check --full-report -r
  language: system
  stages:
  - push

run-tests:
  name: Pytest (via Docker)
  entry: dna test
  language: system
  verbose: true
  stages:
  - push

Upgrade core dep, increase tests
  config/gcloud/.env
  config/local/.env
  config/test/.env
  dextra/dna/commons/__init__.py
  dextra/dna/commons/processors/__init__.py
  jobs/daily/issues/ingest.py
  jobs/daily/issues/learn.py
  jobs/daily/issues/trust.py
  jobs/hello_world.py
  tests/unit/commons/issues_test.py
Due: run-tests

Specify default csv reading options in commons.settings
  dextra/dna/commons/__init__.py
  dextra/dna/commons/processors/issues.py
  dextra/dna/commons/settings.py
  jobs/daily/issues/ingest.py
  tests/unit/commons/issues_test.py
Due: run-tests

Move settings to configs
  config/local/logging.yml
  dextra/dna/commons/__init__.py
  dextra/dna/commons/configs.py
  dextra/dna/commons/processors/issues.py
  dextra/dna/commons/settings.py
Due: none

Build a resilent ingestion pipeline
  config/gcloud/.env
  config/local/.env
  dextra/dna/commons/__init__.py
  dextra/dna/commons/functions.py
  dextra/dna/commons/processors/__init__.py
  dextra/dna/commons/processors/entities.py
  dextra/dna/commons/processors/issues.py
  dextra/dna/commons/processors/mixins.py
  dextra/dna/commons/utils.py
  jobs/daily/entities/extract.py
  jobs/daily/issues/commit.py
  jobs/daily/issues/ingest.py
  jobs/daily/issues/refine.py
  jobs/daily/run.sh
  jobs/maintance/rollback.py
  jobs/weekly/products/learn.py
  notebooks/collections/addresses.ipynb
  notebooks/exploration/issues-learning.ipynb
  notebooks/exploration/issues.ipynb
  notebooks/overview.ipynb
  requirements.txt
  tests/unit/commons/issues_test.py
Due: check-vulnerabilities, run-tests

Rename entities to collections, fix tests, update README
  README.md
  config/gcloud/cluster.yml
  config/gcloud/lakes.yml
  dextra/dna/commons/processors/__init__.py
  dextra/dna/commons/processors/collections.py
  dextra/dna/commons/processors/issues.py
  jobs/daily/collections/extract.py
  jobs/daily/issues/ingest.py
  jobs/daily/run.sh
  notebooks/collections/addresses.ipynb
  tests/unit/commons/issues_test.py
Due: run-tests

Add encoder learning processor
  README.md
  dextra/dna/commons/__init__.py
  dextra/dna/commons/functions.py
  dextra/dna/commons/processors/__init__.py
  dextra/dna/commons/processors/issues.py
  dextra/dna/commons/processors/mixins.py
  dextra/dna/commons/processors/products.py
  dextra/dna/commons/utils.py
  docker-compose.yml
  jobs/daily/issues/ingest.py
  jobs/maintance/rollback.py
  jobs/weekly/products/learn.py
  notebooks/collections/addresses.ipynb
  notebooks/exploration/issues-learning.ipynb
  notebooks/exploration/issues.ipynb
  notebooks/stats/trainings.ipynb
  requirements.txt
  tests/unit/commons/issues_test.py
Due: check-vulnerabilities, run-tests

Add clustering exploration
  dextra/dna/commons/functions.py
  dextra/dna/commons/processors/products.py
  jobs/weekly/products/encode.py
  notebooks/exploration/issues-learning.ipynb
  notebooks/stats/trainings.ipynb
Due: none

Refactor jobs/weekly/issues
  dextra/dna/commons/processors/collections.py
  dextra/dna/commons/processors/issues.py
  dextra/dna/commons/processors/mixins.py
  dextra/dna/commons/utils.py
  jobs/daily/issues/commit.py
  jobs/weekly/issues/encode.py
  jobs/weekly/issues/learn.py
  notebooks/overview.ipynb
  tests/unit/commons/issues_test.py
Due: run-tests

Improve README.md
  README.md
Due: none

Add checking for issue labels
  Dockerfile
  config/gcloud/.env
  config/local/.env
  config/local/spark/log4j.properties
  config/local/spark/spark-defaults.conf
  dextra/dna/commons/processors/products.py
  jobs/weekly/issues/encode.py
  jobs/weekly/issues/learn.py
  notebooks/exploration/checking-labels-cohesion.ipynb
  notebooks/exploration/issues-learning.ipynb
  notebooks/stats/trainings.ipynb
Due: none

Path conditions:
  check-vulnerabilities: any of: ^requirements.*.txt$
  run-tests: any of: _test.py$
